apiVersion: v1
kind: Service
metadata:
  labels:
    app: flutter
  name: flutter
spec:
  type: LoadBalancer
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  selector:
    app: flutter
