/**
 * News Feed
 * news feed api
 *
 * OpenAPI spec version: 1.0.0
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Eclipse Public License - v 1.0
 *
 * https://www.eclipse.org/legal/epl-v10.html
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package info.glennengstrand.resources;

import com.google.inject.Inject;  
import javax.ws.rs.GET;  
import javax.ws.rs.POST;  
import javax.ws.rs.PathParam;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.Consumes;
import java.util.List;
import io.dropwizard.jersey.params.LongParam;

import info.glennengstrand.api.Outbound;

@Path("/participant/{id}")
public class OutboundApi {

   private final OutboundApiService outboundService;
	
   @Inject
   public OutboundApi(OutboundApiService outboundService) {
      this.outboundService = outboundService;
   }
   @POST
   @Path("/outbound")
   @Consumes("application/json")
   @Produces("application/json")
  /**
   * create a participant news item
   * socially broadcast participant news
   * @param id uniquely identifies the participant (required)
   * @param body outbound news item (required)
   * @return Outbound
   */
   public Outbound addOutbound(@PathParam("id") LongParam id,  Outbound body) {
      return outboundService.addOutbound(id.get(), body);
   }
   @GET
   @Path("/outbound")
   @Produces("application/json")
  /**
   * retrieve the news posted by an individual participant
   * fetch a participant news
   * @param id uniquely identifies the participant (required)
   * @return List<Outbound>
   */
   public List<Outbound> getOutbound(@PathParam("id") LongParam id) {
      return outboundService.getOutbound(id.get());
   }
   public static interface OutboundApiService {
	      Outbound addOutbound(Long id, Outbound body);
	      List<Outbound> getOutbound(Long id);
	      List<String> searchOutbound(String keywords);
	   }
}
